section.footer.py-3
  .container
    .row
      .col-lg-9.pt-3
        p Copyright 2022 Organic | Organic Store Template by ProWeb
      .col-lg-3
        .s1
          span
            i.bi.bi-youtube
