mixin product-line 
  .col-lg-6
    .card
      .row
        .col-lg-6
          img.img-fluid(
            alt="" 
            src="./imgs/melon.jpg"
            )
        .col-lg-6.p-5
          span
            i.bi.bi-star-fill
          span
            i.bi.bi-star-fill
          span
            i.bi.bi-star-fill
          span
            i.bi.bi-star
          h5.head1 Fresh Lemon
          p.per1 2 x 454 / 16oz
          h5.head1 12.00$